<div class="page-content">
  <app-header (viewDetailCharacter)="cleanCharacterSelected = true; onViewDetailCharacter($event)"></app-header>

  @if(charactersList.length) {
    <div class="page-content__view-content">
      <div class="page-content__view-content--table">
        <app-table [dataSource]="charactersList"
                  [totalResults]="totalResults"
                  [cleanItemSelected]="cleanCharacterSelected"
                  (sendFilterName)="filterByName($event)"
                  (sendFilterStatus)="filterByStatus($event)"
                  (pageChanged)="onPageChange($event)"
                  (detailCharacter)="onViewDetailCharacter($event)">
        </app-table>
      </div>

      <div class="page-content__view-content--detail">
        @if(characterSelected) {
          <app-detail-character [character]="characterSelected" (closeDetail)="characterSelected = null;"></app-detail-character>
        } @else {
          <p class="txt">{{ 'DETAIL.SELECT' | translate }}</p>
        }
      </div>
    </div>

  } @else {
    <app-error-message (backToSearch)=" nameFilter= ''; statusFilter=''; search();"></app-error-message>
  }

  @if (loader$ | async) {
    <div class="loader-overlay">
      <app-loader></app-loader>
    </div>
  }
</div>
