<div class="accountants-content">
  <p class="accountants-content__title shadow">{{ 'ACCOUNTANTS.TITLE' | translate }}</p>

  <div class="accountants-content__species">
    <p class="accountants-content__species--subtitle">{{ 'ACCOUNTANTS.SPECIES' | translate }}</p>

    <div class="accountants-content__species--cards">
      @for (species of (speciesCount | keyvalue); track $index) {
        <app-counter [data]="species"></app-counter>
      }
    </div>

  </div>

  <div class="accountants-content__type">
    <p class="accountants-content__type--subtitle">{{ 'ACCOUNTANTS.TYPE' | translate }}</p>

    <div class="accountants-content__type--cards">
      @for (type of (typeCount | keyvalue); track $index) {
        <app-counter [data]="type"></app-counter>
      }
    </div>
  </div>
</div>
