$primary-color: #7fc926;
$secondary-color: #17acca;
$tertiary-color: #c9da51;
$btn-color: #b1daec;
$disabled-background-color: #b9b9b9;
$disabled-fonts-color: #0000007a;
$error-background-color: #262c3a;

$black-color: #000;
$yellow-color: #eddd00;
