<div class="table-content">
  <app-finders (sendFilterName)="sendFilterName.emit($event)" (sendFilterStatus)="sendFilterStatus.emit($event)"></app-finders>

  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.FAVORITE' | translate }}</th>
        <td mat-cell *matCellDef="let element" >
          <mat-icon (click)="onSelectFavorite(element); $event.stopPropagation()" [ngClass]="{'favorite': isFavorite(element)}">star</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.NAME' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name || ('TABLE.COLUMNS.NO_DATA' | translate)  }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.STATUS' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.status || ('TABLE.COLUMNS.NO_DATA' | translate)  }}</td>
      </ng-container>

      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.SPECIES' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.species || ('TABLE.COLUMNS.NO_DATA' | translate)  }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.TYPE' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.type || ('TABLE.COLUMNS.NO_DATA' | translate) }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.GENDER' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.gender || ('TABLE.COLUMNS.NO_DATA' | translate)  }}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.CREATED' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{( element.created | date ) || ('TABLE.COLUMNS.NO_DATA' | translate)  }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="viewItem(element)" [ngClass]="{'selected-row': itemSelected === element}"></tr>
    </table>

  </section>

  <mat-paginator [length]="totalResults" [pageSize]="pageSize" [pageSizeOptions]="[20]" (page)="onPageChange($event)">
  </mat-paginator>

  <app-accountants [characters]="dataSource"></app-accountants>
</div>
