@use "../../../assets/colors/colors.scss" as *;

.detail-content {
  width: 100% ;
  margin: 0 auto;

  &__card {
    padding: 10px;

    &--icon-close {
      font-size: 2rem;
      cursor: pointer;
    }

    &--header-card {
      .img {
        width: 100%;
        border: 5px 5px 5px;
        border-radius: 13px;
      }
    }

    &--title-group {
      padding: 10px;
      width: 100% ;
      display: block;

      .title {
        padding: 20px 0;
        font-size: 2.3rem;
        letter-spacing: 2px;
        text-align: center;
      }

      .subtitle {
        font-size: 1rem;
        letter-spacing: 3px;
        text-align: center;
      }
    }
  }

}

.title, .subtitle, .txt {
  color: $secondary-color;
  font-family: 'Luckiest Guy', cursive;
  padding: 10px 0;
}

.txt {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.detail-content__card-header .mat-icon {
  font-size: 2rem;
  cursor: pointer;
}
